<div class="footer">
    <div class="container">
        <div class="navBar">
            <div class="info">
                <ul class="nav">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                
                <ul class="footer-tel">
                    <li><img src="../assets/images/icon-phone.png" alt="tel-icon"></li>
                    <li><a href="tel:+886-2-0800000000" >0800-000-000</a></li>
                </ul>

                <ul class="footer-email">
                    <li><img src="../assets/images/icon-mail.png" alt="mail-icon"></li>
                    <li>
                        <a href="mailto:glasses@business.com">glasses@business.com</a>
                    </li>
                </ul>
            </div>

            <ul class="iconBox">
                <li>
                    <a href="#">
                        <img  src="../assets/images/ic-social-fb.png" alt="fb -icon">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../assets/images/ic_social_ig.png" alt="ig-icon">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img  src="../assets/images/ic_social_line.png" alt="line-icon">
                    </a>
                </li>
            </ul>

        </div>

        <div class="law">
            <div class="horizontal-line"></div>
            <div class="copyright">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
                <ul class="copyright-tw">
                    <li class="privacy-policy">
                        <p>隱私政策</p>
                    </li>
                    <li class="service-term">
                        <p>服務條款</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>