.footer {
	background: #aa0601;
	.container {
		.navBar {
			display: flex;
			justify-content: space-between;
			align-items: start;
			padding: 60px 0px 0px 0px;
			.nav {
				display: flex;
				margin-bottom: 45px;
				gap: 48px;
				li {
					a {
						color: white;

						&:hover {
							transform: scale(1.5);
						}
					}
				}
			}

			.info {
				img {
					display: inline-block;
					filter: brightness(0) invert(1);
					width: 36px;
					height: 36px;
				}

				.footer-tel,
				.footer-email {
					display: flex;
					align-items: end;
					a {
						font-size: 36px;
						color: white;
						&:hover {
							color: blue;
						}
					}
				}

				p {
					color: white;
				}
			}
		}

		.iconBox {
			display: flex;
			gap: 32px;

			li {
				a {
					display: block;

					&:hover {
						transform: scale(1.2);
					}

					img {
						height: auto;
						max-width: 48px;
					}
				}
			}
		}

		.law {
			img {
				display: inline-block;
				// filter: brightness(0) invert(1);
				max-width: 36px;
				height: auto;
			}

			span {
				font-size: 36px;
				color: white;
			}

			.horizontal-line {
				border-bottom: 1px solid white;
				padding-top: 43px;
				margin-bottom: 32px;
			}

			p {
				color: white;
			}

			.copyright {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-bottom: 32px;

				.copyright-tw {
					display: flex;

					.privacy-policy {
						margin-right: 48px;
					}
				}
			}
		}
	}
}

@media (max-width: 996px) {
	.footer {
		.navBar {
            padding: 56px 0px 0px 0px;
            .nav{
                margin-bottom: 31px;
            }
			.info {
				width: 70%;
			}

			.iconBox {
                gap: 16px;
				li {
                    a{
                        img {
                            width: 40px;
                            height: auto;
                        }
                    }
					
				}
			}
		}

		.law {
			.copyright {
                padding-bottom: 40px;

				.copyright-tw {
					margin-right: 48px;
					&:last-child{
						margin-right: 0px;
					}
                    li{
                        p{
                            font-size: 14px;
                        }
                    }
                    
				}

			}
		}
		
	}
}

@media (max-width: 767px) {
    .footer {
		.container {
			.navBar {
				padding: 24px 0px 0px 0px;
				.info {
					.nav {
						display: none;
					}
					img {
						width: 18px;
						height: auto;
						margin-right: 10px;
					}
					.footer-tel,
					.footer-email {
						a {
							font-size: 16px;
						}
					}
				}

				.iconBox {
					li {
						margin-right: 8px;

						img {
							width: 24px;
							height: auto;
						}
					}
				}
			}

			.law {
				img {
					display: inline-block;

					max-width: 36px;
					height: auto;
				}

				span {
					font-size: 36px;
					color: white;
				}

				.horizontal-line {
					margin: 24px 0px;
					padding: 0px;
				}

				.copyright {
					p {
						width: 100%;
						margin-bottom: 8px;
					}

					.copyright-tw {
						flex-direction: column;
					}
				}
			}
		}
	}
}