.bg-brown {
	background: #650300;
	display: flex;
	height: auto;
}

.bg-brown-container {
	display: flex;
	justify-content: space-between;
    align-items: center;
	width: 100%;
}

.blog-navBar {
	display: flex;
	gap: 48px;


	a {
		color: white;
        font-size: 20px;
	}

	.search-icon {

		.material-symbols-outlined {
			font-family: "Material Symbols Outlined";
			font-weight: normal;
			font-style: normal;
			font-size: 30px;
			line-height: 1;
			letter-spacing: normal;
			text-transform: none;
			display: inline-block;
			white-space: nowrap;
			word-wrap: normal;
			direction: ltr;
            filter: brightness(0) invert(1);
		}
	}
}

.blog-bg-white{
    h2{
        padding-left: 8px;
		border-left: 8px solid #9f1213;
        text-align: left;
        padding-top: 0px;
        margin: 96px 0px 32px 0px;
        font-size: 48px;
    }
}

.blog-cards-box{
    .blog-card{
    display: flex;
    margin-bottom: 60px;
    position: relative;

    .blog-img-box{
        width: 50%;
        margin-right: 24px;
        img{
            width: 100%;
        }
    }

}
}

.blog-text-right{
    width: 50%;
    display: flex;
    flex-direction: column;

    h3{
        color: #650300;
        font-size: 32px;
    }

    .v-day{
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .v-day-special{
        font-size: 20px;
        font-weight: 500;
    }

    .blog-small-text{
        color: #000000;
        opacity: 0.7;
        line-height: 30px;
    }

    .long-text{
        color: #555555;
        font-size: 20px;
    }

    a{
        font-size: 36px;
        color: #650300;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
}
