.each-store-content {
	background: white;

	h2 {
		margin: 96px 0px 32px 0px;
		padding-left: 8px;
		border-left: 8px solid #9f1213;
        text-align: left;
		font-size: 48px;
	}

	.dropdown {
		display: flex;
		.region {
			font-size: 24px;
			margin-right: 16px;
		}

		.btn-dropdown {
			font-size: 18px;
			border: 1px solid #ced4da;
			width: 304px;
			color: black;
			display: flex;	
			
			justify-content: space-between;
			align-items: center;
			a{
				color: #495057;
			}

			
		}

	}

	// select {
	// 	width: 345%;
	// 	height: 36px;
	// 	border: 1px solid #ced4da;
	// }

	.cards-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 40px 0px 0px 0px;
		margin-bottom: 56px;
		gap: 24px 12px;
		.card {
			width: 32.5%;
			img {
				border: 1px solid #00000020;
				width: 100%; 
				margin-bottom: 0px;
			}

			.material-symbols-outlined {
				max-width: 18px;
				height: auto;
				vertical-align: middle;
				margin-right: 11px;
			}

			p {
				border: 1px solid #00000020;
				padding: 7px 0px 7px 24px;
				font-size: 24px;
				margin-bottom: 0px;
			}

			.address {
				border: 1px solid #00000020;
				padding: 15px 24px 7px 27px;
				li {
					margin-bottom: 8px;
				}
				img {
					display: inline-block;
					max-width: 18px;
					border: none;
				}

				span {
					font-size: 20px;
				}

				.tel{
					display: flex;
				}
				.call{
					font-size: 20px;
					color: black;
					&:hover{
						color:blue;
					}
					
				}
			}

			.more-info {
				background: black;
				a {

					color: white;
					text-align: center;

					font-size: 19px;
					padding: 16px 0px;
					&:hover {
						transform: scale(1.5);
					}
				}
			}
		}

		.no-mgr-24 {
			margin-right: 0px;
		}
	}
}

@media (max-width: 996px) {
	.container {
		max-width: 696px;

    }

    .each-store-content{
        h2{
            margin: 80px 0px 32px 0px;
        }
        .cards-box {
            justify-content: space-between;
            .card {
                width: 48%;
                margin: 0px 0px 24px 0px;
                
    
                p {
                    border: 1px solid #00000020;
                    padding: 8px 0px 8px 24px;
                    font-size: 24px;
                }
    
                .address {
                    border: 1px solid #00000020;
                    padding: 22px 24px 8px 27px;
                    li {
                        margin-bottom: 8px;
                    }
                    span {
                        font-size: 20px;
                    }
                }
    
                .more-info {
                    background: black;
                    a {
                        display: block;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        font-size: 19px;
                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
    
            .no-mgr-24 {
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 767px) {
    .each-store-content {
		h2 {
			font-size: 24px;
			margin: 96px 0px 32px 0px;
			border-left: 8px solid #9f1213;
		}

		.dropdown {
			.region {
				font-size: 10px;
				width: 64px;
			}
		}

		.cards-box {
			padding-top: 24px;
			margin-bottom: 0px;
			.card {
				width: 100%;
				&:last-child {
					margin: 0px 0px 64px 0px;
				}
				

				p {
					border: 1px solid #00000020;
					padding: 8px 0px 8px 24px;
					font-size: 24px;
				}

				.address {
					border: 1px solid #00000020;
					padding: 22px 24px 8px 27px;
					li {
						margin-bottom: 8px;
					}

					span {
						font-size: 20px;
					}
				}

				.more-info {
					background: black;
					a {
						display: block;
						color: white;
						text-align: center;
						text-decoration: none;
						font-size: 19px;
						&:hover {
							transform: scale(1.5);
						}
					}
				}
			}

			.no-mgr-24 {
				margin-right: 0px;
			}
		}
	}
}