.container {
	max-width: 1296px;
	margin: 0 auto;
	padding: 0px 12px;
}

h2 {
	font-size: 48px;
	font-weight: bold;
	color: #650300;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 48px;
}


.banner {
	width: 100%;
	height: auto;
	background-image: url("../assets/images/home-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	.left-side-content {
		padding: 296px 0px;
		h2,
		h3 {
			color: #650300;
			text-align: right;
		}

		h2 {
			font-size: 36px;
		}

		h3 {
			font-size: 64px;
			font-weight: bold;
		}

		.btn {
			background: #aa0601;
			width: 104px;
			height: 41px;
			margin-left: auto;

			a {
				font-size: 20px;
				color: white;
				text-align: center;
				padding: 6px 12px;
				&:hover {
					background: white;
					color: #aa0601;
				}
			}
		}
	}
}

.bg-pink {
	background: #fbf2f2;
	.pro {
		h2 {
			font-size: 48px;
			font-weight: bold;
			color: #650300;
			text-align: center;
			padding-top: 80px;
			margin-bottom: 24px;
		}
	}
}

.specialty {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	li {
		width: 23%;

		img {
			width: 84px;
			height: 84px;
			margin-bottom: 24px;
			margin: 0 auto;
		}

		h3 {
			font-size: 24px;
			font-weight: bold;
			color: #650300;
			margin-bottom: 8px;
			text-align: center;
		}
		p {
			margin-bottom: 80px;
		}
	}
}

.bg-white {
	background: white;
}

.classical-glasses {
	h2 {
		padding-top: 80px;
		margin-bottom: 48px;
		text-align: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		li {
			width: 31.5%;
			img {
				margin-bottom: 8px;
			}
			a {
				font-size: 48px;
				font-weight: 900px;
				font-style: italic;
				color: #aa0601;
				text-align: center;
				margin-bottom: 80px;
			}
		}
	}
}

.bg-cover2 {
	background-image: url("../images/index-bg.png");
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	h2 {
		padding-top: 80px;
		margin-bottom: 48px;
		text-align: center;
		color: white;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 80px;
	}

	li {
		width: 50%;
		p {
			background: white;
			text-align: center;
			font-size: 48px;
			font-weight: 900px;
			font-style: italic;
			color: #aa0601;
		}
	}
}

.bg-white2 {
	h2 {
		text-align: center;
		padding-top: 80px;
		margin-bottom: 32px;
	}
}

.cards-box {
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	img {
		margin-bottom: 16px;
	}
	.card {
		width: 22%;
		border: 1px solid #dee2e6;
		border-radius: 4px;
		box-shadow: 0px 2px 6px #00000029;
		p {
			padding: 0px 16px;
			margin-bottom: 8px;
		}

		.comment {
			margin-bottom: 72px;
		}

		.date-gray {
			margin-bottom: 16px;
			color: #707070;
		}
	}
}

.bg-pink2 {
	background: #fbf2f2;
	padding-bottom: 80px;
	.submit {
		margin: 0 auto;
		background: #aa0601;
		width: 32.5%;
		height: 56px;
		a {
			text-align: center;
			color: white;
			padding: 16px 0px;
		}
	}
}

.contact-us {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 48px;
	p {
		font-size: 20px;
		margin-bottom: 24px;
	}

	input {
		margin-bottom: 8px;
	}

	label {
		margin-bottom: 16px;
	}

	.input-suggestion {
		min-height: 136px;
		// vertical-align:text-top;
	}

	.input-acceptation {
		margin-bottom: 48px;
	}

	.input-name, .input-tel, .input-email, .input-acceptation, .input-suggestion{
		outline:black;
		width: 100%;
	}
}



@media (max-width: 996px) {
	.container {
		max-width: 696px;

    }


	.specialty{
		li{
			width: 48%;
		}

		p{
			margin-bottom: 60px;
		}
		
	}
	
	.classical-glasses{
	
	ul{
		li{
			width: 100%;
		}
	}
	
	}
	
	.bg-cover2{

	ul{
		gap:24px;
	}

	li{
		width: 100%;;

	}
	}

	.cards-box{
		.card{
			width: 48%;
		}
	}

	.contact-us{
		width: 83.3%;
	}
}

@media (max-width: 767px) {
	.banner{
		background-image: url("../assets/images/home-header-sm.png");
		.left-side-content{
			padding: 144px 0px;
			h2{
				font-size: 16px;
			}

			h3{
				font-size: 24px;
			}
	}
	}	

	.bg-pink{
		.pro{
			h2{
				font-size: 24px;
				padding-top: 40px;
				margin-bottom: 32px;

			}
		}
	}

	.specialty{
		gap: 0px;
		li{
			width: 100%;
		}

		p{
			margin-bottom: 0px;
		}

	}
	
	.classical-glasses{
		h2{
			padding-top: 40px;
			margin-bottom: 24px;
			font-size: 24px;
		}

		ul{
			li{
				a{
					margin-bottom: 0px;
				}
				&:last-child{
					a{
						margin-bottom: 40px;
					}
				}
			}
		}
	}

	.cards-box{
		gap: 16px;
		margin-bottom: 40px;
		.card{
			width: 100%;
		}
	}

	.bg-pink2{
		.submit{
			width: 100%;
		}
	}

	.contact-us{
		width: 100%;
	}

}