<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-brown">
      <div class="container">
        <ul>
          <li>中文</li>
        </ul>
  
      </div>

    <!-- <img src="" alt="放大鏡 icon">
      <a href="#"></a> -->
    </img>
    </div>
  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
