<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="banner">
        <div class="container">
                <div class="left-side-content">
                    <h2>Promise-Desert 2020 早春系列</h2>
                    <h3>看得清，才能看得遠</h3>
                    <div class="btn">
                        <a href="#">立即購買</a>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="bg-pink">
        <div class="pro container">
            <h2>用專業的心，做專業的事</h2>
            <ul class="specialty">
                <li>
                    <img src="../assets/images/home-section2-1.png" alt="home-section2-1">
                    <h3>單一價格</h3>
                    <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </li>

                <li>
                    <img src="../assets/images/home-section2-2.png" alt="home-section2-2">
                    <h3>20 分鐘即可取件</h3>
                    <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </li>

                <li>
                    <img src="../assets/images/home-section2-3.png" alt="home-section2-3">
                    <h3>安心售後服務</h3>
                    <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </li>

                <li>
                    <img src="../assets/images/home-sectioin2-4.png" alt="home-section2-4">
                    <h3>關於鏡片</h3>
                    <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="bg-white">
        <div class="classical-glasses container">
            <h2 class="h2-48-brown">經典系列鏡框</h2>
            <ul>
                <li>
                    <img src="../assets/images/home-section3-1.png" alt="home-section3-1">
                    <a href="">OPTICAL</a>
                </li>
                
                <li>
                    <img src="../assets/images/home-section3-2.png" alt="home-section3-2">
                    <a href="">SUNGLASSES</a>
                </li>

                <li>
                    <img src="../assets/images/home-section3-3.png" alt="home-section3-3">
                    <a href="">FUNCTIONAL</a>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="bg-cover2">
        <div class="container">
            <h2 class="h2-48-brown">聯名設計鏡框</h2>
            <ul>
                <li>
                    <img src="../assets/images/home-section4-1.png" alt="home-section4-1">
                    <p>DOUBLE A+</p>
                </li>

                <li>
                    <img src="../assets/images/home-section4-2.png" alt="home-section4-2">
                    <p>YOUTH</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bg-white2">

        <div class="container">
            <h2 class="h2-48-brown">顧客推薦</h2>
            <ul class="cards-box">
                <li class="card">
                    <img src="../assets/images/home-section5-1.png" alt="home-section5-4">
                    <p>Jessy</p>
                    <p class="comment">眼鏡品質優良，下次還會想來這邊購買！</p>
                    <p class="date-gray">2021/06/20</p>
                </li>

                <li class="card">
                    <img src="../assets/images/home-section5-2.png" alt="home-section5-2">
                    <p>凱倫</p>
                    <p class="comment">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                    <p class="date-gray">2021/06/20</p>
                </li>

                <li class="card">
                    <img src="../assets/images/home-section5-3.png" alt="home-section5-3">
                    <p>悠悠</p>
                    <p class="comment">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                    <p class="date-gray">2021/06/20</p>
                </li>

                <li class="card">
                    <img src="../assets/images/home-section5-4.png" alt="home-section5-4">
                    <p>Kyuan</p>
                    <p class="comment">服務很好，品質沒有任何問題，非常喜歡。</p>
                    <p class="date-gray">2021/06/20</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bg-pink2">
        <div class="container">
            <h2 class="h2-48-brown">聯絡我們</h2>
            <div class=" contact-us">
                <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <form action="">
                <label for="name">姓名：</label></br>
                <input class="input-name" type="text" id="name" name="name" placeholder=" 陳小明" >
                
                <label for="tel">電話</label></br>
                <input class="input-tel" type="text" id="tel" name="tel" placeholder=" 0912-345-678" >

                <label for="email">電子郵件</label></br>
                <input class="input-email" type="text" id="email" name="email" placeholder=" example@email.com" >

                <label for="sugggest">意見反應</label></br>
                <input class="input-suggestion" type="text" id="sugggest" name="suggest" placeholder=" 請輸入您的意見" >

                <input name="accept" id="accept" type="checkbox">
                <label class="acception" for="accept" >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>

                </form>
            </div>

            <div class="submit btn">
                <a href="#">確認送出</a>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
