<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="glasses-choice container">
			<ul class="choice-menu">
				<li><a href="#">OPTICAL</a></li>
				<li><a href="#">SUNGLASSES</a></li>
				<li><a href="#">FUNCTIONAL</a></li>
			</ul>
		</div>

		<div class="bg-white">
			<div class="bg-container-left"></div>
			<div class="bg-container-right"></div>
		</div>

		<div class="main container">
			<h2>2020 NEW COLLECTION</h2>
			<h3>賽璐珞鈦金屬混合鏡框</h3>

			<ul class="all-glasses">
				<li>
					<a href="#"><img src="../assets/images/product-7.png" alt="product-7" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>

				<li>
					<a href="#"><img src="../assets/images/product-8.png" alt="product-8" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>

				<li>
					<a href="#"><img src="../assets/images/product-9.png" alt="product-9" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>

				<li>
					<a href="#"><img src="../assets/images/product-10.png" alt="product-10" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>

				<li>
					<a href="#"><img src="../assets/images/product-11.png" alt="product-11" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>

				<li>
					<a href="#"><img src="../assets/images/product-12.png" alt="product-12" /></a>
					<ul class="glasses-info">
						<li class="glasses-type">BJ41600S</li>
						<li class="glasses-price">NTD3,490</li>
					</ul>
					<div class="glasses-color">
						<div class="purple"></div>
						<div class="brown"></div>
					</div>
				</li>
			</ul>

			<ul class="page">
				<li><a class="previous-page" href="#">上一頁</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a class="next-page" href="#">下一頁</a></li>
			</ul>

		</div>

  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
